.container {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 21;
    font-family: 'Times New Roman', Times, serif;
}

.required {
    color: red;
}

label {
    width: 122px;
    padding: 12px 20px;
    margin: 8px 8px 8px 170px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 21;
    font-family: 'Times New Roman', Times, serif;
}

input[type=text],
select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 3px solid #ccc;
    border-color: #008CBA;
    box-sizing: border-box;
    font-size: 21;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: white;
    background-color: #81C639;
    width: 100px;
    padding: 12px 20px;
    margin: 8px 400px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 8px;
    border-color: #008CBA;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 21;
    font-family: 'Times New Roman', Times, serif;
}

table {
    text-align: center;
}

tr {
    border-bottom: 1px solid #ddd;
}